body {
    background-color: #123A45;
}

header {
    background-color: #236569;
    width: 65%;
}

nav {
    background-color: #414540;
    width: 65%;
    margin: 0 auto;
    position: relative;
}

main {
    background-color: #608B80;
}

footer {
    background-color: #236569;
}

/* styling of links in the nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414540;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #94CBA7;
}